apiVersion: falco.extensions.config.gardener.cloud/v1alpha1
kind: Configuration
falco:
  tokenLifetime: "3600h"
  # private key used to sign JWT tokens for events sent to the 
  # Falco event ingestor
  tokenIssuerPrivateKey: ""
  # Falco event ingestor URL
  ingestorURL: ""
  certificateLifetime: "48h"
  cerfificateRenewAfter: "20h"
  priorityClassName: ""

  falcoVersions:
  - version: 0.37.1
    classification: supported
    
  falcosidekickVersions:
  - version: 2.28.0
    classification: supported
