{
  "index_patterns": ["{{PREFIX}}-*"],
  "template": {
    "settings": {},
    "mappings": {
      "properties": {
        "@timestamp": { "type": "date" },
        "time": { "type": "date" },
        "project": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
        "cluster": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
        "landscape": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
        "hostname": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
        "rule": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
        "priority": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
        "source": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
        "output": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
        "tags": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
        "uuid": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
        "hash_input": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 64 } } },
        "hash_value": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 64 } } },
        "output_fields": {
          "properties": {
            "cluster_id": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
            "falco_version": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
            "container": {
              "properties": {
                "id": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "name": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "start_ts": { "type": "long" },
                "image": {
                  "properties": {
                    "repository": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                    "tag": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } }
                  }
                }
              }
            },
            "k8s": {
              "properties": {
                "ns": { "properties": { "name": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } } } },
                "pod": { "properties": { "name": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } } } }
              }
            },
            "proc": {
              "properties": {
                "name": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "pname": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "sname": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "cmdline": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "pcmdline": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "exe": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "exepath": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "cwd": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "tty": { "type": "long" },
                "aname[2]": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "aname[3]": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "exe_ino.ctime": { "type": "long" },
                "exe_ino.mtime": { "type": "long" },
                "exe_ino.ctime_duration_proc_start": { "type": "long" },
                "env[FALCO_VERSION]": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "env[HEARTBEAT_TIME]": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } }
              }
            },
            "user": {
              "properties": {
                "name": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "uid": { "type": "long" },
                "loginuid": { "type": "long" }
              }
            },
            "evt": {
              "properties": {
                "type": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "time": { "type": "long" },
                "arg.filename": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "arg.flags": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "arg.mode": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "arg.name": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "arg.uid": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } }
              }
            },
            "fd": {
              "properties": {
                "name": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "type": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "l4proto": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } },
                "lport": { "type": "long" },
                "rport": { "type": "long" }
              }
            },
            "thread": {
              "properties": {
                "cap_permitted": { "type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256 } } }
              }
            }
          }
        }
      }
    }
  },
  "priority": 100
}
