{
  "config_id": "{{CHANNEL_ID}}",
  "config": {
    "name": "{{PREFIX}} Falco Alerts",
    "description": "Slack notifications for {{PREFIX}} Falco alerts",
    "config_type": "slack",
    "is_enabled": true,
    "slack": {
      "url": "{{SLACK_WEBHOOK_URL}}"
    }
  }
}
