{{- if eq .Values.falcosidekick.config.existingSecret "" }}
{{- $fullName := include "falcosidekick.fullname" . -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: falcosidekick
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: falcosidekick
    helm.sh/chart: {{ include "falco.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  # Webhook output
  WEBHOOK_ADDRESS: {{ .Values.falcosidekick.config.webhook.address | b64enc }}
  WEBHOOK_CUSTOMHEADERS: {{ .Values.falcosidekick.config.webhook.customheaders | b64enc }}
  WEBHOOK_METHOD: {{ "POST" | b64enc }}
{{- end }}
