{{- if and .Values.falcosidekick.config.tlsserver.server_key .Values.falcosidekick.config.tlsserver.server_crt .Values.falcosidekick.config.tlsserver.server_ca_crt }}
apiVersion: v1
kind: Secret
metadata:
  name: falcosidekick-certs
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: falcosidekick
    helm.sh/chart: {{ include "falco.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  {{ $key := .Values.falcosidekick.config.tlsserver.server_key }}
  server.key: {{ $key | b64enc | quote }}
  {{ $crt := .Values.falcosidekick.config.tlsserver.server_crt }}
  server.crt: {{ $crt | b64enc | quote }}
  falcosidekick.pem: {{ print $key $crt | b64enc | quote }}
  ca.crt: {{ .Values.falcosidekick.config.tlsserver.server_ca_crt | b64enc | quote }}
  ca.pem: {{ .Values.falcosidekick.config.tlsserver.server_ca_crt | b64enc | quote }}
{{- end }}