{{- if or (eq .Values.gardenerExtensionShootFalcoService.output.eventCollector "logging") (eq .Values.gardenerExtensionShootFalcoService.output.eventCollector "otlp") }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/name: falcosidekick
  name: extensions.gardener.cloud:shoot-falco-service:falcosidekick
rules:
- nonResourceURLs:
  {{- if eq .Values.gardenerExtensionShootFalcoService.output.eventCollector "logging" }}
  - /vali/api/v1/push
  {{- else if eq .Values.gardenerExtensionShootFalcoService.output.eventCollector "otlp" }}
  - /opentelemetry.proto.collector.logs.v1.LogsService/Export
  {{- end }}
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app: falcosidekick
    shoot.gardener.cloud/no-cleanup: "true"
  name: extensions.gardener.cloud:shoot-falco-service:falcosidekick
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: extensions.gardener.cloud:shoot-falco-service:falcosidekick
subjects:
- kind: ServiceAccount
  name: gardener-falcosidekick
  namespace: kube-system
{{- end }}
